* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  font-size: 16px;
  line-height: 1.3em;
}

main {
  min-height: 100vh;
  padding: 2em 4%;
  margin: auto;
}

.text-box * {
  text-align: center;
  color: #4d4f61;
}

.text-box .title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3em;
}

.text-box .title .text-highlight {
  font-weight: bolder;
  display: block;
}

.text-box .description {
  padding: 1.5em 4%;
}

.cards-box-1 {
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-box-2 .card {
  margin: 2.5em;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  padding: 1.5em;
  background: hsl(0, 0%, 98%);
  border-top: 4px solid black;
  border-radius: 0 0 0.4em 0.4em;
  box-shadow: 0px 1px 4px 0px hsla(234, 12%, 34%, 0.082),
    0px 9px 20px 0px hsla(229, 6%, 66%, 0.585);
  transition: all 0.7s ease-in-out;
}

.card:is(:hover, :focus) {
  box-shadow: 0px 0px 4px 4px hsl(234deg 12% 34% / 8%),
    0px 4px 14px 0px hsl(229deg 6% 66% / 59%);
}

.card * {
  margin-bottom: 7px;
}

.card.supervisor {
  border-color: #45d4d4;
}

.card.team-builder {
  border-color: #eb545483;
}

.card.karma {
  border-color: #fcaf4a74;
}

.card.calculator {
  border-color: #549ef2;
}

.card-title {
  font-size: 1.3rem;
}

.card-body {
  font-size: 1rem;
  color: #a3a5ae;
}

.card-icon {
  max-width: 3em;
  position: absolute;
  bottom: 1.5em;
  right: 2em;
}

footer {
  text-align: center;
  padding: 1em;
}

footer * {
  font-size: 0.9rem;
  color: #4d4f61;
}

/* ======= BREAKPOINT ======= */
@media (min-width: 1024px) {
  .text-box .description {
    max-width: 552px;
    margin: auto;
  }

  .cards-box-1 {
    max-width: 1500px;
    flex-direction: row;
  }
}
